.slide {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .slide-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      z-index: 1;
    }

    .slide-overlay {
      position: relative;
      z-index: 2;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        padding: 40px 20px;
        font-size: 40px;
        text-align: center;
        color: white;
        margin: 0;
      }
    }
  }